body {
  margin: 0;
}
.nav {
  background-color: black;
  color: white;
  height: 4rem;
}
.nav-logo {
  display: flex;
  font-size: 3rem;
  height: 100%;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  background-repeat: no-repeat;
}